.custom-label-marker {
  background: transparent;
  border: none;
}

.marker-wrapper {
  position: relative;
  width: 30px;
  height: 30px;
}

.marker-circle {
  width: 20px;
  height: 20px;

  background: white;
  border: 2px solid black;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: 800;
  color: black;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.marker-arrow {
  position: absolute;

  width: 0;
  height: 0;

  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid black;

  /* IMPORTANT: anchor center of wrapper */
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) translate(18px, 0px);
}


.stop-list {
  width: 250px;
  height: 100px;
  /* fixed height */
  overflow-y: auto;
  /* vertical scrolling */
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

.stop-item {
  padding: 6px 0;
  border-bottom: 1px solid #eee;
}

.stop-item:last-child {
  border-bottom: none;
}
